
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .fa-search.navbar__right__icon {
    display: inline;
  }
  .navbar__center {
    display: none;
  }
  .navbar__left__hamburger{
    font-size: 10px !important;
  }
  .navbar__left__logo{
    margin-left: 2px !important;
    width: 60px !important;
    
  }
  .navbar__center__input {
    width: 100px !important;
  }
  .navbar__left sup{
    font-size: 7px !important;
  }
  .navbar__right__icon{
    font-size: 10px !important;

  }
  .navbar__right__icon + .navbar__right__icon{
margin-left: 16px;
  }
  .navbar__center__search-btn{
    padding: 6px 30px;
    max-width: 10%;
    font-size: 10px !important;
    background: #f8f8f8;
    color: #a4a4a4;
    border: none;
    margin: 0;
    max-width: 20%;
    border-radius: 0px 50px 50px 0px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navbar__left__logo{
    margin-left: 10px !important;
    width: 80px !important;
    
  }
  .navbar__center__input {
    width: 60% !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navbar__left__hamburger{
    color: white;
    font-size: 1.3em;
  }
}